.bg-orange{
    background-color: #FF8000;
}

.bg-dark-blue{
    background-color: #0A3847;
}

.img-banner{
    padding: 0;
    margin: 0;
    width: 100%;
}

.negative-mt-8{
    margin-top: -13.3%;
}

.negative-mt-12{
    margin-top: -12%;
}

.under-banner{
    margin-top: 2%;
}

.banner{
    position: absolute;
    top: 18%;
}

#mask{
    position: absolute;
    top: 9%;
    height: 50%;
    background: rgba(0,0,0,0.25);
}

@media screen and (max-width: 980px) {
    .banner{
        position: absolute;
        top: 50%;    
    }
    #mask{
        position: absolute;
        top: 12%;
        height: 50%;
        background: rgba(0,0,0,0.25);
    }
    .phone-search{
        margin-top: -9%;
    }
}

footer{
    height: 30px;
    text-decoration: none;
    color: white;
}

#lol{
    margin-left: -10%;
    margin-top: -80px;
    transform: rotate(-2deg);
    width: 120%;
}

.blog-text{
    font-size: 1.5em;
}

.user-link{
    a{
        color: #000;
        text-decoration: none;
    }
    border-radius: 5px;
    padding: 5px;
}

.user-link:hover{
    transition: 0.3s;
    background: #FF8000;
    a{
        color: #FFF;
    }
}

.restaurant-link{
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: block;
}

.restaurant-link:hover{
    transition: 0.3s;
    background: #FF8000;
    color: #FFF;
    text-decoration: none;
}